{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{% endblock %}
{% block menu %}
    {% include 'Tienda/Menu/_menu.html.twig' %}
{% endblock %}
{% block contenido %}

    {% if error %}
        <h3>Error: {{ error }}</h3>
    {% endif %}

    <h1>HOLAAAA</h1>
{% endblock %}
{% block footer %}
    <footer>Tienda Figther</footer>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}