<table class="text-center table table-bordered">
    <thead>
    <tr>
        <td>Nombre Skin</td>
        <td>Precio</td>
    </tr>
    </thead>
    <tbody>
        {% for skin in skins %}
            <tr>
                <td class="active">{{ skin.nombreSkin }}</td>
                <td class="info">{{ skin.precio }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>