<table class="text-center table table-bordered">
    <thead>
    <tr>
        <td>Nombre Skin</td>
        <td>Precio</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="active">{{ skins.nombreSkin }}</td>
        <td class="info">{{ skins.precio }}</td>
    </tr>
    </tbody>
</table>