<table class="text-center table table-bordered">
    <thead>
    <tr>
        <td>Email</td>
        <td>Nombre usuario</td>
        <td>Username</td>
        <td>Skins</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="active">{{ user.email }}</td>
        <td class="info">{{ user.username }}</td>
        <td class="success">{{ user.username }}</td>
        <td class="warning">{{ user.password }}</td>
    </tr>
    </tbody>
</table>