<table class="text-center table table-bordered">
    <thead>
    <tr>
        <td>Email</td>
        <td>Nombre usuario</td>
        <td>Username</td>
        <td>Contraseña</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="active">{{ app.session.get('email') }}</td>
        <td class="info">{{ app.session.get('nombre') }}</td>
        <td class="success">{{ app.session.get('nombre') }}</td>
        <td class="warning">{{ app.session.get('userID') }}</td>
    </tr>
    </tbody>
</table>